<md-dialog>
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{titoloDialog}}</h2>
        <span flex></span>
        <md-button ng-click="salva()">Salva</md-button>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

  <md-dialog-content>
<div class="form-wrapper md-whiteframe-1dp" flex="100">
   
  </md-dialog-content>
    <div style="width:500px;height:500px;max-width:100%">
     <img id="immagineDaCroppare"src="{{imgsrc}}">
   </div>

</div>


</md-dialog>
