<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countries</key>
	<array>
        <string>IT</string>
        <string>AT</string>
        <string>BE</string>
        <string>CN</string>
        <string>DK</string>
        <string>FI</string>
        <string>FR</string>
        <string>DE</string>
        <string>GR</string>
        <string>IE</string>
        <string>JP</string>
        <string>NO</string>
        <string>PT</string>
        <string>RU</string>
        <string>ES</string>
        <string>SE</string>
        <string>CH</string>
        <string>TR</string>
        <string>GB</string>
        <string>US</string>
        <string>AF</string>
        <string>AL</string>
        <string>DZ</string>
        <string>AS</string>
        <string>AD</string>
        <string>AO</string>
        <string>AI</string>
        <string>AG</string>
        <string>AR</string>
        <string>AM</string>
        <string>AW</string>
        <string>AU</string>
        <string>BS</string>
        <string>BH</string>
        <string>BD</string>
        <string>BB</string>
        <string>BY</string>
        <string>BZ</string>
        <string>BJ</string>
        <string>BM</string>
        <string>BT</string>
        <string>BO</string>
        <string>BQ</string>
        <string>BA</string>
        <string>BW</string>
        <string>BR</string>
        <string>BN</string>
        <string>BG</string>
        <string>BF</string>
        <string>BI</string>
        <string>KH</string>
        <string>CM</string>
        <string>CA</string>
        <string>CV</string>
        <string>KY</string>
        <string>CF</string>
        <string>TD</string>
        <string>CL</string>
        <string>CO</string>
        <string>KM</string>
        <string>CK</string>
        <string>CR</string>
        <string>HR</string>
        <string>CU</string>
        <string>CW</string>
        <string>CY</string>
        <string>CY</string>
        <string>CZ</string>
        <string>CD</string>
        <string>DO</string>
        <string>TL</string>
        <string>EC</string>
        <string>EG</string>
        <string>SV</string>
        <string>GQ</string>
        <string>EE</string>
        <string>ET</string>
        <string>FO</string>
        <string>FJ</string>
        <string>GA</string>
        <string>GM</string>
        <string>GE</string>
        <string>GH</string>
        <string>GI</string>
        <string>GL</string>
        <string>GD</string>
        <string>GU</string>
        <string>GT</string>
        <string>GY</string>
        <string>HT</string>
        <string>HN</string>
        <string>HK</string>
        <string>HU</string>
        <string>IS</string>
        <string>IN</string>
        <string>ID</string>
        <string>IR</string>
        <string>IQ</string>
        <string>IL</string>
        <string>CI</string>
        <string>JM</string>
        <string>JO</string>
        <string>KZ</string>
        <string>KE</string>
        <string>KI</string>
        <string>KW</string>
        <string>KG</string>
        <string>LA</string>
        <string>LV</string>
        <string>LB</string>
        <string>LB</string>
        <string>LS</string>
        <string>LR</string>
        <string>LI</string>
        <string>LT</string>
        <string>LU</string>
        <string>MO</string>
        <string>MK</string>
        <string>MG</string>
        <string>MW</string>
        <string>MY</string>
        <string>MV</string>
        <string>ML</string>
        <string>MT</string>
        <string>MR</string>
        <string>MU</string>
        <string>MX</string>
        <string>MD</string>
        <string>MC</string>
        <string>MN</string>
        <string>ME</string>
        <string>MS</string>
        <string>MA</string>
        <string>MZ</string>
        <string>NA</string>
        <string>NP</string>
        <string>NL</string>
        <string>NZ</string>
        <string>NI</string>
        <string>NE</string>
        <string>NG</string>
        <string>MP</string>
        <string>OM</string>
        <string>PK</string>
        <string>PW</string>
        <string>PS</string>
        <string>PA</string>
        <string>PG</string>
        <string>PY</string>
        <string>PE</string>
        <string>PH</string>
        <string>PL</string>
        <string>PR</string>
        <string>QA</string>
        <string>CG</string>
        <string>RO</string>
        <string>RW</string>
        <string>KN</string>
        <string>LC</string>
        <string>PM</string>
        <string>VC</string>
        <string>WS</string>
        <string>SM</string>
        <string>SA</string>
        <string>SN</string>
        <string>RS</string>
        <string>SC</string>
        <string>SL</string>
        <string>SG</string>
        <string>SX</string>
        <string>SK</string>
        <string>SI</string>
        <string>SB</string>
        <string>SO</string>
        <string>ZA</string>
        <string>KR</string>
        <string>SS</string>
        <string>LK</string>
        <string>SD</string>
        <string>SR</string>
        <string>SZ</string>
        <string>SY</string>
        <string>TW</string>
        <string>TJ</string>
        <string>TZ</string>
        <string>TH</string>
        <string>TG</string>
        <string>TG</string>
        <string>TO</string>
        <string>TT</string>
        <string>TN</string>
        <string>TM</string>
        <string>TC</string>
        <string>UG</string>
        <string>UA</string>
        <string>AE</string>
        <string>UY</string>
        <string>UZ</string>
        <string>VU</string>
        <string>VE</string>
        <string>VN</string>
        <string>VG</string>
        <string>VI</string>
        <string>YE</string>
        <string>ZM</string>
        <string>ZW</string>
	</array>
    <key>prefixes</key>
    <array>
        <string>+39</string>
        <string>+43</string>
        <string>+32</string>
        <string>+86</string>
        <string>+45</string>
        <string>+358</string>
        <string>+33</string>
        <string>+49</string>
        <string>+30</string>
        <string>+353</string>
        <string>+81</string>
        <string>+47</string>
        <string>+351</string>
        <string>+7</string>
        <string>+34</string>
        <string>+46</string>
        <string>+41</string>
        <string>+90</string>
        <string>+44</string>
        <string>+1</string>
        <string>+93</string>
        <string>+355</string>
        <string>+213</string>
        <string>+1684</string>
        <string>+376</string>
        <string>+244</string>
        <string>+1264</string>
        <string>+1268</string>
        <string>+54</string>
        <string>+374</string>
        <string>+297</string>
        <string>+61</string>
        <string>+1242</string>
        <string>+973</string>
        <string>+880</string>
        <string>+1246</string>
        <string>+375</string>
        <string>+501</string>
        <string>+229</string>
        <string>+1441</string>
        <string>+975</string>
        <string>+591</string>
        <string>+599</string>
        <string>+387</string>
        <string>+267</string>
        <string>+55</string>
        <string>+673</string>
        <string>+359</string>
        <string>+226</string>
        <string>+257</string>
        <string>+855</string>
        <string>+237</string>
        <string>+1</string>
        <string>+238</string>
        <string>+1345</string>
        <string>+236</string>
        <string>+235</string>
        <string>+56</string>
        <string>+57</string>
        <string>+269</string>
        <string>+682</string>
        <string>+506</string>
        <string>+385</string>
        <string>+53</string>
        <string>+599</string>
        <string>+357</string>
        <string>+357</string>
        <string>+420</string>
        <string>+243</string>
        <string>+1809</string>
        <string>+670</string>
        <string>+593</string>
        <string>+20</string>
        <string>+503</string>
        <string>+240</string>
        <string>+372</string>
        <string>+251</string>
        <string>+298</string>
        <string>+679</string>
        <string>+241</string>
        <string>+220</string>
        <string>+995</string>
        <string>+233</string>
        <string>+350</string>
        <string>+299</string>
        <string>+1473</string>
        <string>+1671</string>
        <string>+502</string>
        <string>+592</string>
        <string>+509</string>
        <string>+504</string>
        <string>+852</string>
        <string>+36</string>
        <string>+354</string>
        <string>+91</string>
        <string>+62</string>
        <string>+98</string>
        <string>+964</string>
        <string>+972</string>
        <string>+225</string>
        <string>+1876</string>
        <string>+962</string>
        <string>+7</string>
        <string>+254</string>
        <string>+686</string>
        <string>+965</string>
        <string>+996</string>
        <string>+856</string>
        <string>+371</string>
        <string>+961</string>
        <string>+961</string>
        <string>+266</string>
        <string>+231</string>
        <string>+423</string>
        <string>+370</string>
        <string>+352</string>
        <string>+853</string>
        <string>+389</string>
        <string>+261</string>
        <string>+265</string>
        <string>+60</string>
        <string>+960</string>
        <string>+223</string>
        <string>+356</string>
        <string>+222</string>
        <string>+230</string>
        <string>+52</string>
        <string>+373</string>
        <string>+377</string>
        <string>+976</string>
        <string>+382</string>
        <string>+1664</string>
        <string>+212</string>
        <string>+258</string>
        <string>+264</string>
        <string>+977</string>
        <string>+31</string>
        <string>+64</string>
        <string>+505</string>
        <string>+227</string>
        <string>+234</string>
        <string>+1670</string>
        <string>+968</string>
        <string>+92</string>
        <string>+680</string>
        <string>+970</string>
        <string>+507</string>
        <string>+675</string>
        <string>+595</string>
        <string>+51</string>
        <string>+63</string>
        <string>+48</string>
        <string>+1787</string>
        <string>+974</string>
        <string>+242</string>
        <string>+40</string>
        <string>+250</string>
        <string>+1869</string>
        <string>+1758</string>
        <string>+508</string>
        <string>+1784</string>
        <string>+685</string>
        <string>+378</string>
        <string>+966</string>
        <string>+221</string>
        <string>+381</string>
        <string>+248</string>
        <string>+232</string>
        <string>+65</string>
        <string>+1721</string>
        <string>+421</string>
        <string>+386</string>
        <string>+677</string>
        <string>+252</string>
        <string>+27</string>
        <string>+82</string>
        <string>+211</string>
        <string>+94</string>
        <string>+249</string>
        <string>+597</string>
        <string>+268</string>
        <string>+963</string>
        <string>+886</string>
        <string>+992</string>
        <string>+255</string>
        <string>+66</string>
        <string>+228</string>
        <string>+228</string>
        <string>+676</string>
        <string>+1868</string>
        <string>+216</string>
        <string>+993</string>
        <string>+1649</string>
        <string>+256</string>
        <string>+380</string>
        <string>+971</string>
        <string>+598</string>
        <string>+998</string>
        <string>+678</string>
        <string>+58</string>
        <string>+84</string>
        <string>+1284</string>
        <string>+1340</string>
        <string>+967</string>
        <string>+260</string>
        <string>+263</string>
    </array>
</dict>
</plist>
