<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Device blacklist</span>
            </div>
            <div class="title">Device blacklist</div>
        </div>


    </div>
    <!-- / HEADER -->



        <md-toolbar>
            <div class="md-toolbar-tools text-right">
              <span flex></span>


              <span flex></span>

              <md-button fast-export="{{vm.list}}" export-name="zego-servizi" class="md-fab md-mini md-primary md-hue-2" aria-label="Eat cake">
                <md-tooltip>Export veloce</md-tooltip>
                <i class="icon icon-export"></i>


              </md-button>
              <span style="width:30px"></span>
            </div>
          </md-toolbar>


    <!-- CONTENT -->
    <div class="content">


        <div class="white-bg md-whiteframe-4dp">
            <table ng-table="tabella"   class="simple row-border hover" ms-responsive-table >
              <!--<thead>

                    <tr>
                      <th class="secondary-text">
                          <div class="table-header">
                              <span class="column-title">Nome</span>
                          </div>
                      </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Dettaglio</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Data creazione</span>
                            </div>
                        </th>


                    </tr>

                </thead>
              -->
                <tbody>
                    <tr ng-repeat="item in $data">


                        <td title="'IMEI'" sortable="'deviceid'" filter="{deviceid:'text'}">{{ item.deviceid }}</td>
                        <td title="'Ragione'" sortable="'blacklistreason'" filter="{blacklistreason:'text'}">{{ item.blacklistreason }}</td>
                        <td title="'Data'" sortable="'blacklistdate'" filter="{blacklistdate:'text'}">{{ item.blacklistdate * 1000 | date : 'medium' }}</td>


                        <td>

                          <md-button class="md-icon-button launch" href="" ng-click="delete(item)"><i class="icon icon-delete"></i>
                          </md-button>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
