<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Utenti</span>
            </div>
            <div class="title">Utenti</div>
            <br>

        </div>


        <!--<div layout="row" layout-align="start center">
            <md-button class="md-raised primary-button md-primary"
                       href="/user/new">
                <md-icon md-font-icon="icon-plus"></md-icon>
                <span>Aggiungi utente</span>
            </md-button>
        </div>-->

    </div>
    <!-- / HEADER -->


    <md-toolbar>
        <div class="md-toolbar-tools text-right">
          <span flex></span>
          <md-button class="md-raised primary-button md-primary"
                     href="/user/new">
              <md-icon md-font-icon="icon-plus"></md-icon>
              <span>Aggiungi utente</span>
          </md-button>


          <span flex></span>

        </div>
      </md-toolbar>


    <!-- CONTENT -->
    <div class="content">


      {{vm.window.$height}}

        <div class="white-bg md-whiteframe-4dp dataTables_wrapper">
          <br>



          <div class="top">
            <button class="btn btn-filtri  font-size-12" ng-click="filtriVisibili = !filtriVisibili" ng-class="{'aperto' : filtriVisibili}">
              <i class="icon icon-filter-variant font-size-12"></i>
              {{!filtriVisibili ? 'Mostra filtri' : 'Nascondi filtri'}}</button>


              <button class="btn  font-size-12 right" ng-show="filtriVisibili " ng-click="vm.filter = {}">
                <i class="icon icon-filter-remove-outline font-size-12" ></i> Resetta filtri</button>



                <button class="btn btn-save font-size-12 right" ng-show="filtriVisibili">
                  <i class="icon icon-content-save font-size-12"></i> Salva e filtra</button>

            <form novalidate form-wrapper flex="100" class="form-filter" style="font-size:1em" ng-show="filtriVisibili">
              <md-container layout-padding layout-gt-sm="column">
                  <div layout="column" layout-gt-sm="row">
                      <md-input-container flex>
                          <label>Nome e cognome</label>
                          <input ng-readonly="navigazione.mode=='info'" type="text" name="firstname" ng-model="vm.filter.name"
                                 placeholder="Nome e cognome"
                                 >
                      </md-input-container>
                      <md-input-container flex>
                        <label>Numero di telefono</label>
                          <input ng-readonly="navigazione.mode=='info'" type="text" name="firstname" ng-model="vm.filter.mobile"
                                 placeholder="Numero di telefono"
                                 >
                      </md-input-container>

                      <md-input-container flex>
                        <label>Email</label>
                          <input ng-readonly="navigazione.mode=='info'" type="text" name="firstname" ng-model="vm.filter.email"
                                 placeholder="Email"
                                 >
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-sm="row">
                      <md-input-container flex>
                         <label>Da</label>
                         <md-datepicker ng-model="vm.filter.from" name="dateField"
                           md-max-date="vm.filter.to"></md-datepicker>

                       </md-input-container >
                       <md-input-container flex>
                          <label>A</label>
                          <md-datepicker ng-model="vm.filter.to" name="dateField" md-min-date="vm.filter.from"
                            ></md-datepicker>

                        </md-input-container>



                  </div>
              </md-container>
            </form>
          </div>
          <md-container layout-padding layout-gt-sm="row">

                <div class="filtri-selezionati" layout-padding ng-repeat="(chiave,filtro) in vm.filter" class="row" ng-if="vm.filter[chiave]!=undefined && vm.filter[chiave]!= null">
                  <label>{{chiave}} : {{filtro }}<i ng-click="vm.filter[chiave]=null" class="icon icon-cancel">
                    <md-tooltip>Rimuovi filtro</md-tooltip>
                  </i></label>
                </div>
          </md-container>

            <table class="simple row-border hover" id="tabella" >
                <thead>

                    <tr>
                      <th class="secondary-text">
                          <div class="table-header">

                          </div>
                      </th>
                      <th class="secondary-text" ng-show="tableColumns.refcode">
                            <div class="table-header">
                                <span class="column-title">Ref code</span>
                            </div>
                        </th>
                        <th class="secondary-text" ng-show="tableColumns.fullname">
                            <div class="table-header">
                                <span class="column-title">Nome</span>
                            </div>
                        </th>
                        <th class="secondary-text" ng-show="tableColumns.country">
                            <div class="table-header">
                                <span class="column-title">Paese</span>
                            </div>
                        </th>
                        <th class="secondary-text" ng-show="tableColumns.phone">
                            <div class="table-header">
                                <span class="column-title">Cellulare</span>
                            </div>
                        </th>

                        <th class="secondary-text" ng-show="tableColumns.email">
                            <div class="table-header">
                                <span class="column-title">Email</span>
                            </div>
                        </th>
                        <th class="secondary-text" ng-show="tableColumns.insdate">
                            <div class="table-header">
                                <span class="column-title">Iscritto</span>
                            </div>
                        </th>
                        <th class="secondary-text" ng-show="tableColumns.lastseen">
                            <div class="table-header">
                                <span class="column-title">Ultimo login</span>
                            </div>
                        </th>

                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.users">

                        <!--<td><a ui-sref="app.useredit({id: user.id})">{{ user.id }}</a></td>-->

                        <td>
                          <i class="icon icon-nest-thermostat switch" ng-class="{'active' : user.candrive}">
                            <md-tooltip md-direction="top">
                               {{user.candrive ? 'Può guidare' : 'Non può guidare'}}
                             </md-tooltip>
                           </i>
                          <i class="icon icon-cellphone-iphone switch" ng-class="{'active' : user.mobok}">
                            <md-tooltip md-direction="top">
                                {{user.mobok ? 'Numero di cellulare verificato' : 'Numero di cellulare non verificato'}}
                             </md-tooltip>
                          </i>
                          <i class="icon icon-credit-card switch" ng-class="{'active' : user.payok}">
                            <md-tooltip md-direction="top">
                                {{user.payok ? 'Metodo di pagamento verificato' : 'Metodo di pagamento non verificato'}}
                             </md-tooltip>
                           </i>
                          <i class="icon icon-apple" ng-show="{{user.os == 'iOS'}}">
                            <md-tooltip md-direction="top">
                                iOS
                             </md-tooltip></i>
                          <i class="icon icon-android" ng-show="{{user.os == 'Android'}}">
                            <md-tooltip md-direction="top">
                                Android
                             </md-tooltip>
                           </i>

                        </td>

                        <td ng-show="tableColumns.refcode">{{ user.refcode}}</td>
                        <td ng-show="tableColumns.fullname">{{ user.fname }} {{user.lname}}</td>

                        <td ng-show="tableColumns.country" style="width:30px">{{ user.country }}</td>
                        <td ng-show="tableColumns.phone">{{ user.prefix }} {{user.mobile}}</td>
                        <td ng-show="tableColumns.email">{{ user.email}}</td>


                        <td ng-show="tableColumns.insdate">{{ user.insdate * 1000 | date : 'medium' }}</td>
                        <td ng-show="tableColumns.lastseen">{{ user.lastseen * 1000 | date : 'medium' }}</td>
                        <td class="azioni">


                          <md-button class="md-icon-button launch" ui-sref="app.useredit({id: user.id})"><i class="icon icon-pencil"></i>
                          </md-button>
                        </td>


                    </tr>
                </tbody>
            </table>

            <div class="bottom">
              <div class="left">
                <div class="length">

                 <div class="dataTables_length" id="DataTables_Table_0_length">
                    <label>Visualizza <select name="asd" ng-model="pagination.num">
                      <option ng-value="5">5</option>
                      <option ng-value="10" selected>10</option>
                      <option ng-value="25">25</option>
                      <option ng-value="50">50</option>
                      <option ng-value="100">100</option>
                  </select> Risultati</label></div>



                </div></div>
                  <div class="right">
                    <div class="pagination">
                      <div class="dataTables_paginate paging_simple" id="DataTables_Table_0_paginate">
                        <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" id="DataTables_Table_0_previous" ng-hide="pagination.page == 0 " ng-click="vm.prevPage()"><i class="icon icon-chevron-left"></i> Pagina precedente</a>
                         Pagina {{pagination.page + 1}}
                        <a class="paginate_button next" aria-controls="DataTables_Table_0" ng-hide="vm.users.length < pagination.num " ng-click="vm.nextPage()" tabindex="0" id="DataTables_Table_0_next">Prossima pagina
                          <i class="icon icon-chevron-right"></i>
                        </a>
                      </div></div></div></div>

        </div>


        <!--
        <br>
        <div layout="row" layout-align="start center">
          <div flex class="right" style="text-align:right">
            <md-button ng-hide="vm.pagination.page == 0 " ng-click="vm.prevPage()">Pagina precedente</md-button>
          </div>
          <div flex style="text-align:center">
              Pagina : {{vm.pagination.page + 1}}
          </div>
          <div flex>
            <md-button ng-hide="vm.users.length < vm.pagination.num " ng-click="vm.nextPage()">Prossima pagina</md-button>
          </div>
        </div>
      -->


    </div>
    <!-- / CONTENT -->

</div>
