<md-dialog>
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{titoloDialog}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/assets/angular-material-assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

  <md-dialog-content>
<div class="form-wrapper md-whiteframe-1dp" flex="100">

    <form name="lang" ng-submit="salva()" class="md-inline-form" novalidate>

      <div layout="column" layout-gt-xs="row">


      </div>

      <div layout="column" layout-gt-xs="column">
        <md-input-container flex>
            <label>Ammontare</label>
            <div class="md-resize-wrapper">
              <input type="text" ng-model="item.amount"><div class="md-resize-handle" style="touch-action: pan-y;"></div>
            </div>
        </md-input-container>


        <md-input-container flex>
            <label>Note</label>
            <div class="md-resize-wrapper">
              <textarea ng-model="item.note" md-maxlength="150" max-rows="8" rows="1">
              </textarea><div class="md-resize-handle" style="touch-action: pan-y;"></div>
            </div>
        </md-input-container>

      </div>


        <md-button type="submit" class="md-raised md-primary" aria-label="Submit"
                   ng-disabled="user.$invalid || user.$pristine">
            Salva
        </md-button>
    </form>

</div>

  </md-dialog-content>
</md-dialog>
